{% extends "index.html" %}
{% block content %}
    <h3>设置并安装</h3>
<form action="/index/deploy/select/" method="post">
{% csrf_token %}
<table>
    <tr>
        <p>软件包下载路径：<input type="text" name="download_path"/></p>
        <p>软件安装路径：<input type="text" name="target_path"/></p>
        <p>软件版本：<input type="text" name="soft_version"/></p>

        <td>选择服务器:</td>
        <td>
            <select name="pick_server">
                {% for server in object_server %}
                <option value="{{ server.id }}">{{  server.server_external_ip }}</option>
                {% endfor %}
            </select>
        </td>
        <td>选择安装:</td>
        <td>
            <select name="pick_service">
                {% for service in object_service %}
                <option value="{{ service.id }}">{{ service.soft_name }}</option>
                {% endfor %}
            </select>
        </td>
        <td><input type="submit" value="安装"/></td>
    </tr>
</table>

<div>
    <div>返回状态：</div>
        <!--<textarea name="line" rows="10" cols="100">-->
        {% for line in return_list %}
            <div>{{ line }}</div>
        {% endfor %}
            <div>{{ task_process }}</div>
        <!--</textarea>-->
</div>

</form>
{% endblock %}