<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>乐蜀自动化运维管理系统</title>
    <link rel="stylesheet" href="static/prototype/src/prototype/prototype.js">
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">资产统计</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/">环境部署</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/">发布代码</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/">资源监控</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/">终端操作</a>
                    </li>
                    <li>
                    <form class="pure-form" action="/search/" method="get">
                    <input class="pure-input-3-3" type="text" name="s" placeholder="search" style="margin-top: 50px;">
                    </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="http://pythonic.in/about/">About Me</a></li>
                        <li><a href="https://github.com/lvs071103/JackBlog">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
