<!DOCTYPE html>
<html lang="en">
{% extends "index.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>统计</title>
</head>
<body>
    <h1>服务器信息：</h1>
    <table>
        <tr>
            <th>服务器主机名</th>
            <th>服务器外网ip</th>
            <th>服务器管理员</th>
            <th>服务器管理员密码</th>
            <th>服务器ssh端口</th>
            <th>服务器操作系统</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.server_hostname }}</td>
            <td>{{ item.server_external_ip }}</td>
            <td>{{ item.server_admin }}</td>
            <td>{{ item.server_password }}</td>
            <td>{{ item.server_port }}</td>
            <td>{{ item.server_os }}</td>
        </tr>
        {% endfor %}
    </table>

    <div><a href="/tongji/submit/">添加</a></div>
    <div><a href="/tongji/editor/">修改</a></div>
    <div><a href="/tongji/delete/">删除</a></div>
{% endblock %}
</body>
</html>